// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.title__banner {
	padding: 20px;
	text-align: center;
	@media screen and (min-width: $desktop) {
		padding: 50px;
	}
	.site__title {
		a {
			// font-size: 50px;
			color: $black;
			@media screen and (min-width: $desktop) {
				font-size: 80px;
			}
		}
	}
}

.container-navbar-brand-logo {
	text-align: center;
	width: 100%;

	@media screen and (min-width: $desktop) {
		text-align: left;
	}

	.navbar-brand {
		margin-right: 0.5rem;
		font-weight: 600;
		font-size: 1.5rem;
	}

	.category,
	.category a {
		font-size: 1.2rem;
		font-weight: 300;
		color: $black;
	}
}

.entry-title.home,
.entry-title.home a {
	font-size: 1.5rem;
	color: $black;
	padding-top: 20px;
}

time,
.author a {
	color: #b60e63;
}

@for $index from 1 through 6 {
	h#{$index} {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 700;
		color: $black;
	}
}

.entry-content p,
.entry-content {
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
	line-height: 33px;
}

code {
	background: rgba(0,0,0,.05);
    padding: 3px 4px;
	margin: 0 2px;
	font-family: 'Courier New', Courier, monospace;
	color: $code;
}

.entry-content a {
	color: #b60e63;
}
